.Home {
    text-align: center;
    background-color: #19e68c;
}

.Home-header {
    align-items: center;
    background-color: #19e68c;
    color: #030a01;
    display: flex;
    flex-direction: column;
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    justify-content: center;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #030a01;
    align-items: center;
    justify-content: space-between;
}