.Log-button {
    align-items: center;
    background-color: #d8fa43;
    border: none;
    border-radius: 8px;
    color: darkslategray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: calc(4px + 2vmin);
    font-weight: bold;
    justify-content: center;
    padding: 15px 30px;
}

.Log-button:hover {
    background-color:#f7ffd3;
    color: rgb(32, 51, 51);
}

.Log-button:active {
    background-color: #f7ffd3;
    border: 2px solid #d8fa43;
    color: rgb(32, 51, 51);
}